.page {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 600px;
}

h1 {
	font-size: 1.2em;
	font-weight: normal;
	font-style: normal;
	color: #34495e;
	width: 100%;
	display: block;
	text-align: left;
	font-style: bold;
	height: 30px;
	background: white;
	margin: 0;
	padding: 0;
}

i {
	color: #34495e;
	font-size: 1.5em;
}

body {
	font-size: 16px;
	font-family: "OpenSans";
	background: white;
	color: #34495e;
	padding: 0;
	margin: 0;
}

input {
	background: white;
	font-size: 1em;
	padding: 10px 5px;
	color: #34495e;
	outline: none;
	border: none;
	border-bottom: 1px solid #BABABA;
	width: 59%;
	margin: 0;
	float: left;
}

input:nth-child(odd) {
	border-right: 1px solid #BABABA;
}

#pessoas {
	background: white;
	color: #BABABA;
}

.number {
	width: 41%;
}

.error {
	background: rgb(255, 45, 45);
	width: 100%;
	display: block;
	height: 50px;
	font-size: 2em;
	text-align: center;
	color: white;
	font-style: bold;
	border-top: 4px solid white;
}

.name, .number {
	padding-left: 10px;
}

input::-webkit-input-placeholder {
	color: #bbb;
	font-family: "OpenSans";
	line-height: 1em;
	font-style: normal;
	font-weight: normal;
};

#resultado {
	margin-top: 50px;
}

#result {
	margin-top: 5px;
	color: white;
	display: block;
	background: #2A4C74;
	padding: 10px 25px;
	border-bottom: 4px solid white;
}

number {
	display: inline-block;
	font-size: 2.5em;
}

em {
	display: block;
	font-size: 0.3em;
	font-style: "OpenSans";
	font-style: italic;
	font-weight: normal;
}

a {
	color: black;
	float: right;
	margin-top: 7px;
}

.pessoa-result:nth-child(odd) {
	background: #2A4C74;
	color: white;
}

.pessoa-result {
	padding: 5px 10px;
	text-align: center;
}

.pessoa-result span {
	display: inline-block;
	font-size: 1.3em;
	margin: 0;
}

.pessoa-result em {
	font-size: 0.55em;
}

.pessoa-result number {
	margin: 0 5px;
	line-height: 1.2em;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

button {
	border: none;
	background: #2ecc71;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	font-size: 1.25em;
}